/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 280px;
  background: #1a1a20;
  transition: all 0.5s ease;
  overflow-y: scroll;
  z-index: 1;
}

.sidebar::-webkit-scrollbar,
.home-content::-webkit-scrollbar,
.home-section::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar,
.home-content,
.home-section {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.sidebar.active {
  width: 60px;
  z-index: 1;
}

.sidebar.active:hover {
  width: 300px;
  cursor: pointer;
}



.sidebar .logo-details {
  height: 80px;
  display: flex;
  align-items: center;
  background: #13131a;
  margin-bottom: 20px;
}

.sidebar .logo-details i {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  min-width: 60px;
  text-align: center
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.sidebar .nav-links {
  margin-top: 10px;
}



.sidebar .nav-links li {
  position: relative;
  list-style: none;
  min-height: 50px;
  height: auto;
  padding: 0px 5px;
}

.sidebar .nav-links li button {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 5px;

}

.sidebar .nav-links li button.active {
  background: #081D45;
}

.sidebar .nav-links li button:hover {
  background: #081D45;
}

.sidebar .nav-links li i {
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.sidebar .nav-links li i span {
  font-family: 'Poppins', sans-serif !important;
}


.sidebar .nav-links li button .links_name {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
}

.sidebar .nav-links .log_out {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.home-section {
  position: relative;
  background: #1a1a20;
  min-height: 100vh;
  width: calc(100% - 280px);
  left: 280px;
  transition: all 0.5s ease;
}

.sidebar.active~.home-section {
  width: calc(100% - 60px);
  left: 60px;
}

.home-section nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #13131a;
  color: white;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.sidebar.active~.home-section nav {
  left: 60px;
  width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

nav .sidebar-button i {
  font-size: 35px;
  margin-right: 10px;
  margin-left: 10px;
  color: white;
}

.search-box {
  position: relative;
  height: 40px;
  max-width: -webkit-fill-available;
  width: 100%;
  margin: 0 15px;
}

.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  background: #141414;
  /* border: 2px solid #EFEEF1; */
  /* border-radius: 6px; */
  font-size: 16px;
  padding: 0 15px;
  color: white;
  box-shadow: none;
  border: none;
}

.search-box .bx-search {
  position: absolute;
  height: 40px;
  width: 40px;
  background: #2697FF;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}

.home-section nav .profile-details {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  /* border: 2px solid #EFEEF1; */
  border-radius: 6px;
  height: 50px;
  min-width: 90px;
  padding: 0 15px 0 2px;
  color: #fff !important;
}

nav .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}

nav .profile-details .admin_name {
  font-size: 15px;
  font-weight: 500;
  color: #fff !important;
  margin: 0 10px;
  white-space: nowrap;
}

nav .profile-details i {
  font-size: 25px;
  color: #fff;
  margin: 0px 5px;
  cursor: pointer;
}

.home-section .home-content {
  min-height: 100vh;
  height: auto;
  position: relative;
  padding-top: 104px;
  background-color: #1a1a20;
  overflow-y: scroll;
}

.home-content .overview-boxes {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  /* padding: 0 20px; */
  /* margin-bottom: 26px; */
}

.overview-boxes .box {
  display: flex;
  justify-content: center;
  width: calc(100% / 3 - 0px);
  /* padding: 15px 14px; */
  /* border-radius: 20px; */
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
  color: white;
}

.overview-boxes .box iframe {
  width: 100%;
  height: 100%;
  border: none;
  /* border-radius: 20px; */

}

.overview-boxes .box-topic {
  font-size: 20px;
  font-weight: 500;
}

.home-content .box .number {
  display: inline-block;
  font-size: 35px;
  margin-top: -6px;
  font-weight: 500;
}

.home-content .box .indicator {
  display: flex;
  align-items: center;
}

.home-content .box .indicator i {
  height: 20px;
  width: 20px;
  background: #8FDACB;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  margin-right: 5px;
}

.box .indicator i.down {
  background: #e87d88;
}

.home-content .box .indicator .text {
  font-size: 12px;
}

.home-content .box .cart {
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}

.home-content .box .cart.two {
  color: #2BD47D;
  background: #C0F2D8;
}

.home-content .box .cart.three {
  color: #ffc233;
  background: #ffe8b3;
}

.home-content .box .cart.four {
  color: #e05260;
  background: #f7d4d7;
}

.home-content .total-order {
  font-size: 20px;
  font-weight: 500;
}

.home-content .sales-boxes {
  display: flex;
  justify-content: space-between;
  /* padding: 0 20px; */
}

/* left box */
.home-content .sales-boxes .recent-sales {
  width: 65%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.home-content .sales-boxes .sales-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sales-boxes .box .title {
  font-size: 24px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}

.sales-boxes .sales-details li.topic {
  font-size: 20px;
  font-weight: 500;
}

.sales-boxes .sales-details li {
  list-style: none;
  margin: 8px 0;
}

.sales-boxes .sales-details li a {
  font-size: 18px;
  color: #333;
  font-size: 400;
  text-decoration: none;
}

.sales-boxes .box .button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.sales-boxes .box .button a {
  color: #fff;
  background: #0A2558;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.sales-boxes .box .button a:hover {
  background: #0d3073;
}

/* Right box */
.home-content .sales-boxes .top-sales {
  width: 35%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px 0 0;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.sales-boxes .top-sales li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.sales-boxes .top-sales li a img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 10px;
  background: #333;
}

.sales-boxes .top-sales li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sales-boxes .top-sales li .product,
.price {
  font-size: 17px;
  font-weight: 400;
  color: #333;
}

/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .home-section {
    width: calc(100% - 60px);
    left: 60px;
  }

  .sidebar.active~.home-section {
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }

  .home-section nav {
    width: calc(100% - 60px);
    left: 60px;
  }

  .sidebar.active~.home-section nav {
    width: calc(100% - 220px);
    left: 220px;
  }
}

@media (max-width: 1150px) {
  .home-content .sales-boxes {
    flex-direction: column;
  }

  .home-content .sales-boxes .box {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }

  .home-content .sales-boxes .top-sales {
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .overview-boxes .box {
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}

@media (max-width: 700px) {

  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i {
    display: none;
  }

  .home-section nav .profile-details {
    height: 50px;
    min-width: 40px;
  }

  .home-content .sales-boxes .sales-details {
    width: 560px;
  }
}

@media (max-width: 550px) {
  .overview-boxes .box {
    width: 100%;
    margin-bottom: 15px;
  }

  .sidebar.active~.home-section nav .profile-details {
    display: none;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 0;
  }

  .sidebar.active {
    width: 240px;
    z-index: 1;
  }

  .home-section {
    width: 100%;
    left: 0;
  }

  .sidebar.active~.home-section {
    left: 60px;
    width: calc(100% - 60px);
  }

  .home-section nav {
    width: 100%;
    left: 0;
  }

  .sidebar.active~.home-section nav {
    left: 60px;
    width: calc(100% - 60px);
  }
}

.accordion {
  width: 260px !important;
  display: flex !important;
  /* align-items: center !important; */
  justify-content: center !important;
  align-content: space-between;
  flex-direction: column;
  margin: 0px 25px;
}

.sidebar_buttons_div {
  background: #1a1a20;
}

.sidebar_buttons_div button {
  min-width: 46% !important;
  width: auto !important;
  height: 75px !important;
  border: none;
  background: #232c36 !important;
  border-radius: 5px !important;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
  color: white;
  transition: all 0.3s ease;
  text-align: center;
  justify-content: center;
  margin-right: 10px;
  position: relative;
  overflow: hidden !important;

}

.sidebar_buttons_div button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 100%;
  background: #2a5753;
  z-index: 1;
  transition: all 0.3s ease;
  /* border-radius: 5px; */
}

.sidebar_buttons_div button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 100%;
  background: #544e37;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease;

  /* border-radius: 5px; */
}

.sidebar_buttons_div .button_inner {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.sidebar_buttons_div .button_inner p,
.sidebar_buttons_div .button_inner i {
  margin: 0;
  padding: 0;
  margin-top: 10px !important;
  font-size: 10px !important;
}

.sidebar_buttons_div .button_inner i {
  min-width: 20px !important;
}

.sidebar_buttons_div .d-flex {
  flex-wrap: wrap;
}

.accordion .accordion-item {
  border: none !important;
}

.accordion-button::after {
  background: #C0F2D8 !important;
}

/* Start of Videos Area  */

.videos_area {
  padding: 20px 0;
}

.overview-boxes .box {
  min-height: 200px;
  height: auto;
  margin: 10px 0px
}


.videos_area .overview-boxes .box p {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0px;
  margin-left: 10px;
}

.videos_area .right-side {
  background: #262626;
  padding: 15px 0px;
  min-height: 230px;

}

.videos_area .right-side video {
  width: 100%;
  height: 100%;
}

.videos_area .right-side .chose_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 65px;
}

.videos_area .right-side .chose_div label {

  position: relative;
  font-size: 1.2em;
  padding: 0.7em 1.4em;
  /* background-color: #BF0426; */
  text-decoration: none;
  border: none;
  /* border-radius: 0.5em; */
  color: #6948c2;
  border: 1px solid #6948c2;
  /* box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3); */
}

.videos_area .right-side .chose_div label::before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, rgba(33, 33, 33, 1) 0%, rgba(33, 33, 33, 1) 50%, rgb(92, 4, 150) 50%, #0d3073 60%);
  border-radius: 0 0 0.5em 0;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.videos_area .right-side .chose_div label:hover::before {
  width: 1.6em;
  height: 1.6em;
}

.videos_area .right-side .chose_div label:active {
  /* box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3); */
  transform: translate(0.1em, 0.1em);
}

/* .videos_area .right-side .chose_div label {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0px;
  /* background: #0A2558; */
/* color: #6948c2; */
/* border: 1px solid #6948c2; */
/* } */

button:hover {
  background: linear-gradient(0deg, rgb(65, 65, 71), rgba(48, 48, 48, 0.548)) !important;
  color: #fff !important;
  /* transform: scale(1.1); */
}

